:root {
  --KS: "Kelly Slab", cursive;
  --AK: "Akrobat", sans-serif;
  --Wt: #ffffff;
  --Bk: #000000;
  --Gr: #bdbdbd;
  --Rd: #df0000;
  --mod1: rgba(255, 255, 255, 0.7);
  --mod2: #0000007a;
  --mod3: hsla(0, 0%, 0%, 0.9);
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html *,
html *::before,
html *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 375px;
  background-color: var(--Bk);
  line-height: 1.3;
  font-weight: 400;
  font-size: 21px;
  font-family: var(--KS);
  font-style: normal;
  color: var(--Gr);
  position: relative;
  overflow-x: hidden;
  height: 100vh;
}

img {
  height: auto;
  max-width: 100%;
}

input,
textarea,
a,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 1200px) {
  body {
    height: initial;
  }
}
@font-face {
  font-family: "Kelly Slab";
  src: url("../fonts/kelly-slab/KellySlab-Regular.eot");
  src: local("Kelly Slab"), local("KellySlab-Regular"), url("../fonts/kelly-slab/KellySlab-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/kelly-slab/KellySlab-Regular.woff2") format("woff2"), url("../fonts/kelly-slab/KellySlab-Regular.woff") format("woff"), url("../fonts/kelly-slab/KellySlab-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Akrobat";
  src: url("../fonts/akrobat/Akrobat-Light.eot");
  src: local("Akrobat Light"), local("Akrobat-Light"), url("../fonts/akrobat/Akrobat-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/akrobat/Akrobat-Light.woff2") format("woff2"), url("../fonts/akrobat/Akrobat-Light.woff") format("woff"), url("../fonts/akrobat/Akrobat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Akrobat";
  src: url("../fonts/akrobat/Akrobat-Regular.eot");
  src: local("Akrobat Regular"), local("Akrobat-Regular"), url("../fonts/akrobat/Akrobat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/akrobat/Akrobat-Regular.woff2") format("woff2"), url("../fonts/akrobat/Akrobat-Regular.woff") format("woff"), url("../fonts/akrobat/Akrobat-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Akrobat";
  src: url("../fonts/akrobat/Akrobat-ExtraLight.eot");
  src: local("Akrobat ExtraLight"), local("Akrobat-ExtraLight"), url("../fonts/akrobat/Akrobat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/akrobat/Akrobat-ExtraLight.woff2") format("woff2"), url("../fonts/akrobat/Akrobat-ExtraLight.woff") format("woff"), url("../fonts/akrobat/Akrobat-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Akrobat";
  src: url("../fonts/akrobat/Akrobat-SemiBold.eot");
  src: local("Akrobat SemiBold"), local("Akrobat-SemiBold"), url("../fonts/akrobat/Akrobat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/akrobat/Akrobat-SemiBold.woff2") format("woff2"), url("../fonts/akrobat/Akrobat-SemiBold.woff") format("woff"), url("../fonts/akrobat/Akrobat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Akrobat";
  src: url("../fonts/akrobat/Akrobat-Thin.eot");
  src: local("Akrobat Thin"), local("Akrobat-Thin"), url("../fonts/akrobat/Akrobat-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/akrobat/Akrobat-Thin.woff2") format("woff2"), url("../fonts/akrobat/Akrobat-Thin.woff") format("woff"), url("../fonts/akrobat/Akrobat-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Akrobat";
  src: url("../fonts/akrobat/Akrobat-Bold.eot");
  src: local("Akrobat Bold"), local("Akrobat-Bold"), url("../fonts/akrobat/Akrobat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/akrobat/Akrobat-Bold.woff2") format("woff2"), url("../fonts/akrobat/Akrobat-Bold.woff") format("woff"), url("../fonts/akrobat/Akrobat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Akrobat";
  src: url("../fonts/akrobat/Akrobat-Black.eot");
  src: local("Akrobat Black"), local("Akrobat-Black"), url("../fonts/akrobat/Akrobat-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/akrobat/Akrobat-Black.woff2") format("woff2"), url("../fonts/akrobat/Akrobat-Black.woff") format("woff"), url("../fonts/akrobat/Akrobat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Akrobat";
  src: url("../fonts/akrobat/Akrobat-ExtraBold.eot");
  src: local("Akrobat ExtraBold"), local("Akrobat-ExtraBold"), url("../fonts/akrobat/Akrobat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/akrobat/Akrobat-ExtraBold.woff2") format("woff2"), url("../fonts/akrobat/Akrobat-ExtraBold.woff") format("woff"), url("../fonts/akrobat/Akrobat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.wrapper {
  width: 100%;
  max-width: 1448px;
  margin-inline: auto;
  padding-inline: 20px;
}
@media (max-width: 1023px) {
  .wrapper {
    padding: 0 40px;
  }
}
@media (max-width: 767px) {
  .wrapper {
    padding: 0 20px;
  }
}

.sticky {
  background-color: var(--mod3);
  margin: 0;
  position: sticky;
  top: 0;
}

.simplebar-content-wrapper {
  scrollbar-width: auto;
  -ms-overflow-style: auto;
}

.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  display: initial;
  width: initial;
  height: initial;
}

.simplebar-track {
  background-color: #282727;
}

.simplebar-scrollbar {
  background-color: #585858;
}

.hero {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  max-width: 100%;
  padding-top: 43px;
  background-image: url(../img/bg.jpg);
}
.hero__nav-title {
  display: block;
  margin: 0;
  margin-bottom: 20px;
  color: var(--Wt);
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1;
}
.hero__nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  color: var(--Wt);
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
  max-width: 100%;
  width: 100%;
  align-items: flex-end;
}
.hero__menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  color: inherit;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  min-height: 120px;
}
.hero__nav-item {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  text-transform: uppercase;
  transform: translateY(14px);
  display: flex;
  flex-direction: column;
}
.hero__nav-item--mod {
  place-self: self-end;
}
.hero__nav-item--logo {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(0);
}
.hero__nav-item--logo img {
  display: block;
  max-width: 427px;
  width: 100%;
  margin: 0 auto;
}
.hero__list-item {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
}
.hero__list-item img {
  height: 24px;
}
@media (max-width: 1200px) {
  .hero {
    background-image: url(../img/bg-1200.jpg);
    background-position: bottom center;
    height: initial;
    padding: 64px 0 130px;
  }
  .hero__nav-list {
    grid-template-columns: initial;
    grid-template-areas: "left-one logo right-one" "left-two logo right-two";
    gap: 24px 32px;
    align-items: flex-start;
  }
  .hero__nav-item:nth-child(1) {
    grid-area: left-one;
  }
  .hero__nav-item:nth-child(2) {
    grid-area: left-two;
  }
  .hero__nav-item--logo {
    grid-area: logo;
  }
  .hero__nav-item:nth-child(4) {
    grid-area: right-one;
  }
  .hero__nav-item:nth-child(5) {
    grid-area: right-two;
  }
}
@media (max-width: 1023px) {
  .hero {
    background-image: url(../img/bg-1023.jpg);
  }
  .hero__grid {
    gap: 24px;
    grid-template-columns: 2fr 2fr 1fr;
    align-items: flex-start;
  }
  .hero__nav-list {
    grid-template-areas: "logo logo" "left-one right-one" "left-two right-two";
    gap: 6px;
  }
  .hero__nav-item:nth-child(1) {
    grid-area: left-one;
  }
  .hero__nav-item:nth-child(2) {
    grid-area: left-two;
  }
  .hero__nav-item--logo {
    grid-area: logo;
  }
  .hero__nav-item:nth-child(4) {
    grid-area: right-one;
    align-self: flex-start;
  }
  .hero__nav-item:nth-child(5) {
    grid-area: right-two;
  }
  .hero__menu-list {
    min-height: initial;
  }
}
@media (max-width: 767px) {
  .hero {
    background-image: url(../img/bg-767.jpg);
    padding-bottom: 240px;
  }
  .hero__nav-list {
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .hero {
    background-image: url(../img/bg-500.jpg);
    padding-top: 30px;
    padding-bottom: 310px;
  }
  .hero__nav-list {
    grid-template-areas: "logo logo" "left-one left-two" "right-one right-two";
    gap: 16px;
  }
  .hero__nav-item--logo {
    padding: 0 47px;
  }
  .hero__nav-title {
    margin-bottom: 12px;
    font-size: 25px;
  }
  .hero__list-item {
    font-size: 15px;
  }
  .hero__nav-item--mod {
    place-self: initial;
  }
  .hero .hero__menu-list {
    min-height: initial;
  }
  .hero__nav-item {
    margin-top: 37px;
  }
  .hero__nav-item:has(.hero__nav-title) {
    margin-top: 0;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: var(--Bk);
  color: var(--Wt);
  padding: 40px 0 40px;
}
.footer__grid {
  display: grid;
  gap: 32px;
  grid-template-columns: 3fr 3fr 2fr 2fr 2fr;
}
.footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
  color: var(--mod1);
  font-family: var(--AK);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.footer__services-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer__social-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer__text {
  color: var(--mod1);
  font-family: var(--AK);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  margin: 0;
}
.footer__social-item:not(:last-of-type) {
  margin-bottom: 12px;
}
.footer__services-item:not(:last-of-type) {
  margin-bottom: 12px;
}
.footer__social-link {
  display: flex;
  align-items: center;
  color: var(--Wt);
  font-family: var(--AK);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  max-width: max-content;
}
.footer__social-link svg {
  margin-right: 16px;
  display: block;
}
.footer__title {
  margin: 0;
  margin-bottom: 12px;
  font-family: var(--AK);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
}
.footer a {
  color: var(--Rd);
  line-height: 1.5;
}
.footer a span {
  color: var(--Wt);
}
.footer__tel {
  font-family: var(--AK);
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  color: var(--Wt) !important;
}
@media (max-width: 1200px) {
  .footer {
    position: initial;
  }
}
@media (max-width: 1023px) {
  .footer__grid {
    grid-template-columns: 2fr 2fr 1fr;
  }
}
@media (max-width: 767px) {
  .footer__grid {
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }
  .footer__services-list {
    display: grid;
    gap: 24px;
    grid-template-columns: auto auto;
    max-width: max-content;
  }
  .footer__social-list {
    display: grid;
    gap: 24px;
    grid-template-columns: auto auto;
    max-width: max-content;
  }
}
@media (max-width: 500px) {
  .footer__grid {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
  .footer__services-list {
    display: block;
    max-width: initial;
  }
  .footer__social-list {
    display: block;
    max-width: initial;
  }
  .footer__item:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: -1;
  }
  .footer__item:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: -1;
  }
  .footer__item:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: -1;
  }
  .footer__item:nth-child(3) .footer__list {
    display: grid;
    gap: 16px;
    grid-template-columns: auto auto;
    max-width: max-content;
  }
}

.dialog-windows {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  align-items: stretch;
  justify-content: flex-end;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s;
}
.dialog-windows__item {
  max-width: 960px;
  width: 100%;
  padding: 60px 40px 80px;
  background-color: var(--mod3);
  color: var(--Gr);
  max-height: 100%;
}
.dialog-windows__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dialog-windows__close {
  margin-left: 32px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.dialog-windows__title {
  margin: 0;
  display: block;
  color: var(--Wt);
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}
.dialog-windows__text {
  margin: 2.2rem 0;
}
.dialog-windows__text:last-of-type {
  margin-bottom: 0;
}
.window-about .dialog-windows {
  visibility: visible;
  opacity: 1;
}