:root {
  --KS: "Kelly Slab", cursive;
  --AK: "Akrobat", sans-serif;

  --Wt: #ffffff;
  --Bk: #000000;
  --Gr: #bdbdbd;
  --Rd: #df0000;
  --mod1: rgba(255, 255, 255, 0.7);
  --mod2: #0000007a;
  --mod3: hsla(0, 0%, 0%, 0.9);
}

@import "site/global";
@import "site/fonts";

@import "bem/visually-hidden";
@import "bem/wrapper";
@import "bem/sticky";
@import "bem/simplebar";

@import "section/hero";
@import "section/footer";
@import "section/dialog-windows";


@import "activity/modal-show";






