:root {
  --KS: "Kelly Slab", cursive;
  --AK: "Akrobat", sans-serif;

  --Wt: #ffffff;
  --Bk: #000000;
  --Gr: #bdbdbd;
  --Rd: #df0000;
}

@font-face {
  font-family: "Kelly Slab";
  src: url("../fonts/kelly-slab/KellySlab-Regular.eot");
  src:
    local("Kelly Slab"),
    local("KellySlab-Regular"),
    url("../fonts/kelly-slab/KellySlab-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/kelly-slab/KellySlab-Regular.woff2") format("woff2"),
    url("../fonts/kelly-slab/KellySlab-Regular.woff") format("woff"),
    url("../fonts/kelly-slab/KellySlab-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Akrobat";
  src: url("../fonts/akrobat/Akrobat-Light.eot");
  src:
    local("Akrobat Light"),
    local("Akrobat-Light"),
    url("../fonts/akrobat/Akrobat-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/akrobat/Akrobat-Light.woff2") format("woff2"),
    url("../fonts/akrobat/Akrobat-Light.woff") format("woff"),
    url("../fonts/akrobat/Akrobat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Akrobat";
  src: url("../fonts/akrobat/Akrobat-Regular.eot");
  src:
    local("Akrobat Regular"),
    local("Akrobat-Regular"),
    url("../fonts/akrobat/Akrobat-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/akrobat/Akrobat-Regular.woff2") format("woff2"),
    url("../fonts/akrobat/Akrobat-Regular.woff") format("woff"),
    url("../fonts/akrobat/Akrobat-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Akrobat";
  src: url("../fonts/akrobat/Akrobat-ExtraLight.eot");
  src:
    local("Akrobat ExtraLight"),
    local("Akrobat-ExtraLight"),
    url("../fonts/akrobat/Akrobat-ExtraLight.eot?#iefix") format("embedded-opentype"),
    url("../fonts/akrobat/Akrobat-ExtraLight.woff2") format("woff2"),
    url("../fonts/akrobat/Akrobat-ExtraLight.woff") format("woff"),
    url("../fonts/akrobat/Akrobat-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Akrobat";
  src: url("../fonts/akrobat/Akrobat-SemiBold.eot");
  src:
    local("Akrobat SemiBold"),
    local("Akrobat-SemiBold"),
    url("../fonts/akrobat/Akrobat-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/akrobat/Akrobat-SemiBold.woff2") format("woff2"),
    url("../fonts/akrobat/Akrobat-SemiBold.woff") format("woff"),
    url("../fonts/akrobat/Akrobat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Akrobat";
  src: url("../fonts/akrobat/Akrobat-Thin.eot");
  src:
    local("Akrobat Thin"),
    local("Akrobat-Thin"),
    url("../fonts/akrobat/Akrobat-Thin.eot?#iefix") format("embedded-opentype"),
    url("../fonts/akrobat/Akrobat-Thin.woff2") format("woff2"),
    url("../fonts/akrobat/Akrobat-Thin.woff") format("woff"),
    url("../fonts/akrobat/Akrobat-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Akrobat";
  src: url("../fonts/akrobat/Akrobat-Bold.eot");
  src:
    local("Akrobat Bold"),
    local("Akrobat-Bold"),
    url("../fonts/akrobat/Akrobat-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/akrobat/Akrobat-Bold.woff2") format("woff2"),
    url("../fonts/akrobat/Akrobat-Bold.woff") format("woff"),
    url("../fonts/akrobat/Akrobat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Akrobat";
  src: url("../fonts/akrobat/Akrobat-Black.eot");
  src:
    local("Akrobat Black"),
    local("Akrobat-Black"),
    url("../fonts/akrobat/Akrobat-Black.eot?#iefix") format("embedded-opentype"),
    url("../fonts/akrobat/Akrobat-Black.woff2") format("woff2"),
    url("../fonts/akrobat/Akrobat-Black.woff") format("woff"),
    url("../fonts/akrobat/Akrobat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Akrobat";
  src: url("../fonts/akrobat/Akrobat-ExtraBold.eot");
  src:
    local("Akrobat ExtraBold"),
    local("Akrobat-ExtraBold"),
    url("../fonts/akrobat/Akrobat-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/akrobat/Akrobat-ExtraBold.woff2") format("woff2"),
    url("../fonts/akrobat/Akrobat-ExtraBold.woff") format("woff"),
    url("../fonts/akrobat/Akrobat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html *,
html *::before,
html *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 375px;
  background-color: var(--Bk);
  line-height: 1.3;
  font-weight: 400;
  font-size: 21px;
  font-family: var(--KS);
  font-style: normal;
  color: var(--Gr);
  position: relative;
  overflow-x: hidden;
}

img {
  height: auto;
  max-width: 100%;
}

input,
textarea,
a,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.hero {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  max-width: 100%;
  padding-top: 43px;

  &__wrap {
    max-width: calc(1408px + 40px);
    margin-inline: auto;
    padding-inline: 20px;
  }
  &__nav-title {
    display: block;
    margin: 0;
    margin-bottom: 20px;

    color: var(--Wt);
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    color: var(--Wt);
    display: grid;
    gap: 32px;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    max-width: 100%;
    width: 100%;
    align-items: flex-end;
  }

  &__menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    color: inherit;
  }
  &__nav-item {
  }
  &__nav-item--right {
    text-align: right;
  }
  &__nav-item--logo {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      display: block;
      max-width: 427px;
      width: 100%;
      margin: 0 auto;
    }
  }
  &__list-item {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 2;

    img {
      height: 24px;
    }
  }
}
