.window-about {
  overflow: hidden;
  .dialog-about {
    visibility: visible;
    opacity: 1;
  }
}

.window-gallery {
  overflow: hidden;
  .dialog-gallery {
    visibility: visible;
    opacity: 1;
  }
}
