.dialog-windows {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  align-items: stretch;
  justify-content: flex-end;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s;
  
  &__item {
    max-width: 960px;
    width: 100%;
    padding: 60px 40px 80px;
    background-color: var(--mod3);
    color: var(--Gr);
    max-height: 100%;
    
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__close {
    margin-left: 32px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  &__title {
    margin: 0;
    display: block;
    color: var(--Wt);
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
  }
  &__text {
    margin: 2.2rem 0;
  }
  &__text:last-of-type {
    margin-bottom: 0;
  }
  &__body {
    
    // overflow: auto;
    // padding-bottom: 80px;
  }
} 
