.hero {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  max-width: 100%;
  padding-top: 43px;
  background-image: url(../img/bg.jpg);

  &__nav-title {
    display: block;
    margin: 0;
    margin-bottom: 20px;
    color: var(--Wt);
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1;
  }

  &__nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    color: var(--Wt);
    display: grid;
    gap: 32px;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    max-width: 100%;
    width: 100%;
    align-items: flex-end;
  }

  &__menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    color: inherit;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    min-height: 120px;
  }
  &__nav-item {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 2;
    text-transform: uppercase;
    transform: translateY(14px);
    display: flex;
    flex-direction: column;

    &--mod {
      place-self: self-end;
    }
  }
  &__nav-item--logo {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(0);
    img {
      display: block;
      max-width: 427px;
      width: 100%;
      margin: 0 auto;
    }
  }
  &__list-item {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 2;
    a {
      display: block;
      width: 100%;
      height: 100%;
    }

    img {
      height: 24px;
    }
  }

  @media (max-width: 1200px) {
    background-image: url(../img/bg-1200.jpg);
    background-position: bottom center;
    height: initial;
    padding: 64px 0 130px;
    &__nav-list {
      grid-template-columns: initial;
      grid-template-areas:
        "left-one logo right-one"
        "left-two logo right-two";
      gap: 24px 32px;
      align-items: flex-start;
    }
    &__nav-item:nth-child(1) {
      grid-area: left-one;
    }
    &__nav-item:nth-child(2) {
      grid-area: left-two;
    }
    &__nav-item--logo {
      grid-area: logo;
    }
    &__nav-item:nth-child(4) {
      grid-area: right-one;
    }
    &__nav-item:nth-child(5) {
      grid-area: right-two;
    }
  }
  @media (max-width: 1023px) {
    background-image: url(../img/bg-1023.jpg);
    &__grid {
      gap: 24px;
      grid-template-columns: 2fr 2fr 1fr;
      align-items: flex-start;
    }
    &__nav-list {
      grid-template-areas:
        "logo logo"
        "left-one right-one"
        "left-two right-two";
      gap: 6px;
    }
    &__nav-item:nth-child(1) {
      grid-area: left-one;
    }
    &__nav-item:nth-child(2) {
      grid-area: left-two;
    }
    &__nav-item--logo {
      grid-area: logo;
    }
    &__nav-item:nth-child(4) {
      grid-area: right-one;
      align-self: flex-start;
    }
    &__nav-item:nth-child(5) {
      grid-area: right-two;
    }
    &__menu-list {
      min-height: initial;
    }
  }
  @media (max-width: 767px) {
    background-image: url(../img/bg-767.jpg);
    padding-bottom: 240px;
    &__nav-list {
      justify-content: center;
      // gap: 16px;
    }
  }
  @media (max-width: 500px) {
    background-image: url(../img/bg-500.jpg);
    padding-top: 30px;
    padding-bottom: 310px;

    &__nav-list {
      grid-template-areas:
        "logo logo"
        "left-one left-two"
        "right-one right-two";
      gap: 16px;
    }
    &__nav-item--logo {
      padding: 0 47px;
    }
    &__nav-title {
      margin-bottom: 12px;
      font-size: 25px;
    }
    &__list-item {
      font-size: 15px;
    }
    &__nav-item--mod {
      place-self: initial;
    }
    .hero__menu-list {
      min-height: initial;
    }
    &__nav-item {
      margin-top: calc(25px + 12px);
    }
    &__nav-item:has(.hero__nav-title) {
      margin-top: 0;
  }
  }
  
}
